.defaultButton {
  background-color: black;
  border: 3px solid var(--red-dark);
  color: white;
  border-radius: 100px;
  padding: 10px 15px;
  min-width: 150px;
  font-size: 14px;
  font-weight: bolder;
}

.defaultButton:hover {
  background-color: var(--gray-pale);
}

.defaultButton:disabled {
  border-color: var(--gray-pale);
  cursor: default !important;
}

.defaultButton:disabled:hover {
  background-color: black;
}