.defaultInput {
  background-color: black;
  border: 3px solid var(--red-dark);
  color: white;
  border-radius: 100px;
  padding: 10px 15px;
  min-width: 150px;
  font-size: 14px;
  font-weight: bolder;
}

.defaultInput:hover, .defaultInput:focus {
  background-color: var(--gray-pale);
}