.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.playersAmountContainer {
  display: flex;
  gap: 20px;
  align-items: center;
}

.playersAmountInput {
  width: 100px !important;
  min-width: 100px !important;
}

.backgroundsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}